<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.devstack.automation.testbase.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/thameeramalinga/DeveloperStackQA/Framework/DevStackAutomationFramework/DevStackAutomationFramework/src/test/java/com/devstack/automation/tests/login/LoginTest.java">
        <classes>
            <class name="com.devstack.automation.tests.login.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>